# LangChain
langchain
langchain-core
langchain-chroma
langchain-groq
langchain-huggingface
langchain-text-splitters

# Vector DB
chromadb

# ML — let pip pick compatible versions with torch 2.7
sentence-transformers
transformers

# Utils
python-dotenv
beautifulsoup4
pdfplumber
httpx
boto3
nest_asyncio

# FastAPI
fastapi
uvicorn[standard]
python-multipart

# Auth
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]

# Database
supabase


ragas
datasets
langsmith